html {
    align-items: center;
}


#fontnormal{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
  
#fontbold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}
  
  